[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
numpy = "*"
matplotlib = "*"
networkx = "==2.3"
pandas = "*"
lxml = "*"

[requires]
python_version = "3.8"
